<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Blogger</title>
<link rel="stylesheet" href="/public/styles/posts.css" />
<link rel="shortcut icon" href="/public/imgs/10026257.png" type="image/*" />
