<header>
    <nav>
      <div>
        <div id="logo"><a href="/posts">Blogger</a></div>
      </div>
      <ul>
        <li><a href="/posts"> Posts</a></li>
        <li><a href="/createpost">create post</a></li>
      </ul>
    </nav>
  </header>